@font-face {
    font-family:"Nanum Gothic", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Nanum Gothic", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Nanum Gothic", sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap);
    font-weight: 800;
    font-style: normal;
}


body {
    margin: 0;
    
}

.topbox {
    box-sizing: border-box;
    width: 100%;
    height: 2em;
    background-color: #777e5f;
}
.titleAndLogo{
    box-sizing: border-box;
    min-height: 10vh;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;

}
.titleAndLogo .titulo {
    font-family:"Nanum Gothic";
    font-weight: 800;
    box-sizing: border-box;
    text-align: center;
    font-size: 50px; 
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;
}

.titleAndLogo .logo {
    height: 3em;
    box-sizing: border-box;
    padding: 0;
}

.bottombox {
    width: 100%;
    height: 100%;
    background-color: #777e5f;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.bottombox .menu {
    font-family:"Nanum Gothic";
    font-weight: 700;
    box-sizing: border-box;
    font-size: 1.2em; 
    text-align: center;
    box-sizing: border-box;    
    align-items: center;
}

.bottombox .menu .menuitem {
    display: inline-block;
    background-color: #DAD2B9;
    height: 2em;
    width: 15em;
    list-style: none;
    padding: 0.5em;
    margin: 0.5em; 
    text-align: center;
}
.bottombox .menu .menuitem .colorTexto {
    color:#3F4D49;
    text-align: center;
    text-decoration: none;
    
}

.mainTextBox {
    box-sizing: border-box;
    background-color: #BEBB98;
    min-height: 40vh;
    width: 85%;
    margin: 2% auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.mainTextBox .slogan {
    background-color: #DAD2B9;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 2em; 
    font-family:"Nanum Gothic";
    font-weight: 400;
    letter-spacing: 1px;
}

.mainTextBox .mainPic {
    margin-top: 20px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-right: 20px;
    flex-direction: row;
}
.mainTextBox .mainPic img{
    width: 50%;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #777e5f;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footerText {
    text-align: center;
    font-size: 1.5em; 
    font-family:"Nanum Gothic";
    font-weight: 700;
    color:#3F4D49
}

.whoAreWe{
    box-sizing: border-box;
    background-color:white;
    min-height: 40vh;
    width: 85%;
    margin: 1% auto;
    padding: 1em;
    display: flex;
    flex-direction:row;
    align-items: center; 
}
.whoAreWe .textoWhoAreWe{
    font-family:"Nanum Gothic";
    font-weight: 700;
    color: #3F4D49;
    background-color:#DAD2B9;
    box-sizing: border-box;
    font-size: 2em;
}
.whoAreWe .fotoFumigador{
    width: 30%;
}
.listaServicios{
    box-sizing: border-box;
    background-color:white;
    min-height: 40vh;
    width: 85%;
    margin: 3% auto;
    padding: 20px;
    display: flex;
    flex-direction:row;
    align-items: center; 
}
.listaServicios .imgServicios{
    flex-direction:column;
    align-items: center; 
    list-style:none;
}
.listaServicios .imgServicios .serviceTypeImg{
    box-sizing: border-box;
    background-color: #BEBB98;
    width:100%;
    border-radius: 5em;
    margin: 2em 0;
    align-items: center; 
}
.listaServicios .textoServicios{
    flex-direction:column;
    align-items: center; 
    list-style:none;
}
.listaServicios .textoServicios .serviceType{
    box-sizing: border-box;
    background-color: #DAD2B9;
    margin: 1em 0;
    padding: 0.3em;
    font-size: 1.8em;
    font-family:"Nanum Gothic";
    font-weight: 700;
    color: #3F4D49;
}
.faqsMain{
    flex-direction: row;
    margin: auto;
    width: 100%;
}
.faqsMain .faqsYRta{
    box-sizing: border-box;
    list-style: none;
    min-height: 40vh;
    width: 100%;
    margin: 5% auto;
    padding: 2%;
    display: flex;
    align-items: center; 
    background-color: #777e5f;
}
.faqsMain .faqsYRta .faqs {
    flex-direction: column;
    box-sizing: border-box;
    padding: 0.3em;
    height: 80%;
    width: 85%;
    background-color: #819281;
    font-size: 1.3em;
    justify-content: center;
    text-align: center;
    margin: 2% auto;
    border-radius: 2em;
    font-family:"Nanum Gothic";
    font-weight: 800;

}
.faqsMain .faqsYRta .respuestas{
    box-sizing: border-box;
    height: 100%;
    width:80%;
    font-size: 1.2em;
    margin: 4% auto;
    padding: 10%;
    justify-content:space-around;
    text-align: center;
    background-color: #DAD2B9;
    border-radius: 1.5em;
    font-family:"Nanum Gothic";
    font-weight: 400;
}
.contactCard{
    box-sizing: border-box;
    background-color: #BEBB98;
    min-height: 40vh;
    width: 85%;
    margin: 2% auto;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.contactCard .contact-text{
    background-color: #3F4D49;
    font-family:"Nanum Gothic";
    font-weight: 800;
    color: #BEBB98;
    font-size: 3em;
    list-style: none;
    padding: 0.2em;
    display: block;

}

@media only screen and (max-width:768px){
    .bottombox{
        height: 100%;
    }
    .mainTextBox .mainPic{
        flex-direction: column;   
    }
    .mainTextBox .mainPic img{
        width: 70%;
    }

    .titleAndLogo {
        flex-direction: column;
        align-items: center;
    }
    .titleAndLogo .titulo {
        font-size: 40px;
    }
    .titleAndLogo .logo {
        height: 2em;
    }
    .mainTextBox {
        width: 95%;
    }
    .listaServicios {
        flex-direction: row; 
        background-color: #BEBB98;    
        width: 100%;  
        padding: 2em;
    }

    .listaServicios .imgServicios,
    .listaServicios .textoServicios {
        width: 100%;
        font-size: 0.8em;

    }
    .listaServicios .imgServicios .serviceTypeImg{
        width: 80%;
        margin: 220% auto;
        border-radius: 3em;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .listaServicios .imgServicios .serviceTypeImg img{
        display: block;
    }
    .listaServicios .textoServicios .serviceType {
        width: 80%;
        margin: 1em auto;
    }
    .faqsMain .faqsYRta {
        flex-direction: column;
        align-items: center;
    }

    .faqsMain .faqsYRta .faqs,
    .faqsMain .faqsYRta .respuestas {
        width: 90%;
        margin: 2% auto;
    }

    .contactCard .contact-text{
        
        font-size:1.5em;
        height: 100%;
    
    }
    .whoAreWe .textoWhoAreWe{
        font-size: 0.9em;
        padding: 0.2em;
        width: 100%;
        height: 100%;
    }
    .whoAreWe .fotoFumigador{
        width: 40%;
    }
    .mainTextBox .slogan {
        font-size: 1em;
    }
    .bottombox .menu {
        font-size: 1em;
    }
    .footer .footerText{
        font-size: 1em;
        
    }
}

